#ignore directories
_binary/
Unity/SnelHest Prototype/Temp/
Unity/SnelHest Prototype/Library/metadata/

#ignore extensions
*.exe
*.lib
*.dll
*.idb
*.so
*.sdf
*.opensdf
*.opendb
*.suo
*.meta
*.info


#
!/dependencies/**/*
