#ignore directories
_binary/
Unity/SnelHest Prototype/Temp/
Unity/SnelHest Prototype/Library/metadata/

#ignore extensions
*.lib
*.dll
*.idb
*.so
*.sdf
*.opensdf
*.opendb
*.suo


#
!/dependencies/**/*
